RewriteEngine On
RewriteBase /

# Let existing files and folders load normally
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Fallback to Next.js exported SPA index.html
RewriteRule . /index.html [L]
